* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('1.png');
  }
  
  .form-register {
    width: 400px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #AF74F6;
    box-shadow: 7px 13px 37px #8E4EFF;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #AF74F6;
    font-family: 'calibri';
    font-size: 18px;
    color: #AF74F6;
  }
  
  .form-register p {
    color: #AF74F6;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: #AF74F6;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: #8E4EFF;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #BB86FC;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }